.degraded-notice {
  border-radius: 0.25rem;
  padding: 1rem;
  margin: 1rem 0;
  border: solid 1px hsla(0, 100%, 80%, 1);
  background: hsla(0, 100%, 95%, 1);
}

.degraded-notice header {
  font-size: 1.35rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.degraded-notice p {
  margin-bottom: 0;
}
