.graph-container {
  width: 100%;
}

.recharts-cartesian-axis-tick-value {
  font-size: 0.85em;
}

.recharts-tooltip-wrapper .recharts-default-tooltip {
  padding: 0 0.5em !important;
  border-radius: 0.2rem;
  font-size: 0.85em;
  opacity: 0.85;
}

.recharts-default-tooltip li {
  color: inherit !important;
}

.recharts-tooltip-item-value {
  font-family: PragmataPro, Menlo, "DejaVu Sans Mono", monospace;
}
